.slide-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 575px;
}
.carousel-panel {
  width: 575px;
}
.aperture {
  position: relative;
  overflow: hidden;
  flex: 485px 0 0;
  height: 350px;
  outline: 1px solid red;
  overflow: visible;
  /* TOOD: remove */
}
ul.slider {
  list-style: none;
  position: absolute;
  left: 0;
  width: 970px;
  height: 350px;
  outline: 1px solid blue;
  transition: left 1000ms, right 1000ms;
}
.slide.slide-document {
  display: flex;
  flex-direction: row;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
.slide.slide-body {
  flex: 200px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
.slide.slide-image {
  flex: 285px;
}
.right-control,
.left-control {
  flex: 30px 1 1;
  align-items: center;
  z-index: 1000;
}
.left-side,
.right-side {
  position: absolute;
  margin: 0;
  padding: 5px 10px;
  width: 485px;
}
.left-side {
  left: 0px;
}
.right-side {
  right: 0px;
}
.animate {
  transition: left 1000ms, right 1000ms;
}
.left {
  left: 0px;
  right: auto;
}
.right {
  right: 0px;
  left: auto;
}
