.slide-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 605px;
}
.carousel-panel {
  width: 505px;
}
.aperture {
  position: relative;
  overflow: hidden;
  margin: 0 50px;
  width: 505px;
  height: 350px;
  outline: 1px solid grey;
}
.slider {
  position: absolute;
  left: 0;
  width: 100000px;
  height: 350px;
  transition: left 500ms, right 500ms;
}
.slide-container {
  width: 505px;
  padding: 10px;
  float: left;
}
.slide.slide-document {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
.slide.slide-body {
  width: 200px;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  float: left;
}
.slide.slide-image {
  width: 285px;
  float: left;
}
.right-control,
.left-control {
  width: 50px;
  z-index: 1000;
  position: absolute;
  height: 100%;
  top: 0;
  text-align: center;
}

.right-control .btn,
.left-control .btn {
  top: 45%;
}

.right-control {
  right: 0;
}

.left-control {
  left: 0;
}

.stats {
  margin: auto;
  width: 605px;
  text-align: center;
}
