@image-width: 285px;
@body-width: 200px;
@slide-width: @image-width + @body-width;
@button-control-width: 30px;
@carousel-width: @slide-width + @button-control-width * 2 + 30px;
@carousel-height: 350px;

.slide-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}

.carousel {
  display:flex;
  justify-content: center;
  align-items: center;
  width: @carousel-width;
}
.carousel-panel {
  width: @carousel-width;
}
.aperture {
  position:relative;
  overflow: hidden;
  flex:  @slide-width 0 0;
  height: @carousel-height;
  outline: 1px solid grey;

}
.slider {
  display: flex;
  flex-direction: row;
  position: absolute;
  left:0;
  //width: 100000px; /*2 * @slide-width;*/
  height: @carousel-height;
  transition: left 500ms, right 500ms;
}

.slide-container {
  flex:@slide-width 0 0;
  padding:10px;
}

.slide.slide-document {
  display:flex;
  flex-direction: row;
  .slide-text;
}

.slide.slide-body{
  flex: @body-width;
  .slide-text;
}

.slide.slide-image {
  flex: @image-width;
}

.right-control, .left-control {
  flex: @button-control-width 1 1;
  align-items: center;
  z-index:1000;
}
